*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 100vh;
    line-height: 1.5rem;
}

.selection_container {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 25;
}

.selection {
    width: 0;
    top: 0;
    left: 0;
    height: 0;
    position: absolute;
    border: 2px solid #53d9fa;
    border-radius: 2px;
    background-color: #b3f0ff;
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.selection-visible {
    opacity: 0.5;
}

.selection_item {
    user-select: none;
    cursor: pointer;
}

.selection_item-hover {
    position: relative;
}

.selection_item-hover::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #53d9fa91;
    border: 2px solid #3bc6e99d;
    border-radius: 3px;
    opacity: 0.4;
    z-index: -1;
}

.selection_item-selected {
    position: relative;
}

.selection_item-selected::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #53d9fa;
    border: 2px solid #3bc6e9;
    border-radius: 3px;
    opacity: 0.4;
    z-index: -1;
}